<div style="
  text-align: center;
  margin: auto auto;
  font-size:26px;
  position: absolute;
top: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%)
  ">
  <p for(livro in data.livros )>${livro.titulo}</p>
</div>